<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<title> Warm and Nice Boilerplate </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jane Jeong">
		<meta name="description" content="My Boilerplate☕">
		<meta property="og:description" content="My Boilerplate☕">
		<meta property="og:image" content="">
		<meta property="og:title" content="My Boilerplate☕">
		<meta name="twitter:title" content="My Boilerplate☕">
		<!--link-->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
		<link rel="stylesheet" href="/styles/main.css"> <!--main.css-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900" rel='stylesheet' type='text/css'>
    </head>

    <body class="bg">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<header></header>
		<div class="nav" id="blur">
			<ul>
				<li class= "navbar_logo"><a href="/" title="Home"> <em>&#123; &fnof; &#125;</em> </a></li>
				<li class="navbar_about"><a href="/about" > Are you curious about me? </a> </li>
				<li class="navbar_today"><a id="today"></a></li>
				<li class="navbar_timer"><a id="timer"></a></li>
			</ul>
		</div>

	    <div class="container">
			<!--
			<img src="/images/coffee.png" width="200" alt="A Warm and Nice Cup of Coffee">
			-->

		    {{{body}}}


	    </div> <!-- /container -->        

		<footer> 
			<small>&copy; 2020. Jane Jeong. All rights reserved.</small> 
		</footer> 

        <script defer src="/javascripts/main.js"></script> <!--main.js-->
    </body>
</html>

