<link rel="stylesheet" href="/styles/home.css"> <!--home.css-->

<div class="home-wrap">

<h1> Home </h1>

<br>
<br>
<br>
<br>
<br>
<br>

<p> Your fortune for the day: {{fortune}} </p>   {{! 모듈 - module }}

<br>
<br>
<br>
<br>
<br>
<br>

</div>
    
    
